# -------------------------------
# Python ignores
# -------------------------------
__pycache__/

# -------------------------------
# SLURM / SSH server specifics
# -------------------------------
# Ignore SLURM batch scripts and output files
*.sbatch
*.slurm
job.*.out
job.*.err

# Ignore temporary SSH files or session artifacts
*.swp
*.swo
*.tmp
*.bak

# -------------------------------
# Project-specific ignores
# -------------------------------
data/
new_data/
uniques.out
data.zip
new_data.zip
test_data/
models/
job_outputs/
data_sdc_538794.zip
data_500000/
data_backup/
data/
data_backup/
data_full/
data_HQ.zip
# -------------------------------
# System / editor files
# -------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
